@import url('https://fonts.googleapis.com/css2?family=Tektur:wght@500&display=swap');

h1 {
    text-align: center;
    font-family: 'Tektur', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body {
    width: 100%;
    background-color: white;
}

.soundboard {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.soundboard-button {
    color: black;
    width: 30%;
    height: 100px;
    background-color: rgb(107, 107, 255);
    border: 6px ridge darkblue;
    font-family: 'Tektur', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2.5vw;
    margin: 5px;
    cursor: pointer;
    transition: background-color 3s;
}

.soundboard-button:active { 
    background-color: white;
}
